<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      [Id]="dataFake[0].id"
      [photoCover]="dataFake[0].photoCover"
      [cardTitle]="dataFake[0].title"
      [cardDescription]="dataFake[0].description"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card *ngFor="let item of dataFake | slice:1"
      [Id]="item.id"
      [cardTitle]="item.title"
      [photoCover]="item.photoCover"
    >
    </app-small-card>
  </div>
</div>
